

@media (min-aspect-ratio:16/9) {

    .video{
        width: 100%;
        height: auto;
    }
}


@media (max-aspect-ratio:16/9) {

    .video{
        width: auto;
        height: 100%;
    }
}

body{

    background: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"]{

    float: left;
    
}

.video{

    position: fixed;
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    display:flex;
}

/* header starts*/

.header{

    padding: 20px;
    background-image:linear-gradient(to right,#4CAF50,#4CAF50,green,black);
    height: 100px;

}


.header-img{

    margin-top: -10px;
   
}

.header-heading h1{

    position: relative;
    left: 100px;
    top: 15px;
    text-align: left;
    font-size: 26px;
}


.header-nav{

    flex-direction: row;
    margin-left: 630px;
    margin-top: -60px; 
}

.header-nav a{

    text-align: center;
    padding: 25px 8px;
    box-sizing: border-box;
    margin: 42px 5px;
    
}

.header-nav a:hover{

    background-image: linear-gradient(to right,oldlace,oldlace) ;
    
}

.n1h{

    background-image: linear-gradient(to right,#058306,#017901,#006D00);

}


.n1am{

    background-image: linear-gradient(to right,#006900,#006700,#005900,#004D00);

}


.n1cm{

    background-image: linear-gradient(to right,#004800,#004100,#003800,#002D00);

}


.n1f{

    background-image: linear-gradient(to right,#002A00,#012301,#001600,#000E00);

}


/* header ends */


/* main starts */

.main{

  
}

#search{

    left: 48px;
}

.search{

    width: 50%;
    left: 50px;
    transform: translateX(43%);
}

.description{

    top: 50px;
    transform: translateY(20%);
    padding: 20px;
    box-shadow: 30px 35px 10px rgb(0,0,0,0.5);
    width: 50%;
    background-color:rgba(255,255,255,0.5) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: visible;
}



/* main ends */

.line{

  display: none;
    
}

/* about me section starts */


.aboutme{

    height: 700px;
    top: -55px;
}

.propic{

    height: 225px;
    top: 100px;
    left: 50px;
}

.dotted{

    top: 65px;
    width: 15%;
}

.about{

    position: relative;
    top: 30px;
    left: -40px;
    text-align: justify;
}

.about button{

    left:-40px ;
    top: 75px;
    
}

/* about me section ends */


/* details section starts */

/* card1 design starts*/

.card1{

    width: 400px;
    left: 35px;
}


/* card1 design ends */


/* card2 design starts */

.card2{

    top: 0;
    width: 400px;
    left: 80px;
    
}

/* card2 design ends */

/* card3 design starts */

.card3{

    top: 0;
    width: 400px;
    left: 120px;
    
}

/* card3 design ends */

/* details section ends */

/* contact me section starts */

.contactme{

    top: -60px;
}

.contactme h2{

    top: 50px;
}
.dotted1{

    top: 60px;
    width: 15%;
}

/* contact form section starts */

.name{

    top:100px;
   
}

.email{

    top: 130px;
}

.comment-box{

    left: 50px;
    top: 20px;
    transform: translateY(80%);
}

.submit{

    top: 150px;
    left: -180px;
    transform: translate(-170%,270%);
}

.reset{

    top: 150px;
    left: 200px;
    transform: translate(-170%,170%);
}

/* contact form section ends */

.contact-button h3{

    top: 100px;
    left: 70px;
    transform: translateX(100%);

}

#fb{

    font-size: 38px;
}

#insta{

    font-size: 38px;
}

#yt{

    font-size: 38px;
}


/* contact button section ends */

/* contact me section ends */

/* footer starts */

.footer{

    
    top: -10px;
}

.footer-nav{

    flex-direction: row;
    
}

.footer-nav a{

    background-color: black;
}

.footer-nav a:hover{

    background-color: gray;
    
}

.footer-para p:nth-child(1){
    text-align: left;
    float: left;
    margin-top: 20px;
    margin-left:150px ;
    position: relative;
    left: 170px;
    transform: translateX(140%);
}

.footer-para p:nth-child(2){
    text-align: left
    margin-top: 50px;
    margin-left:10px ;
    position: relative;
    top:25px;
    left: 60px;
    transform: translateX(-10%);

}

.footer-para p:last-child{

    text-align: center;
    position: relative;
    top: 30px;
    left: -140px;
}

/* footer ends */